﻿@model IEnumerable<Whittakerj_CSCI3110_Project_2.Models.Movie>

@{
    ViewBag.Title = "Movie List";
}

<h2>Movie List</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
        </th>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMDBUrl)
        </th>
        <th></th>
    </tr>
    
@{int count = 0;}

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            <p>Not Watched</p>
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id })
        </td>
        <td>
            @Html.ActionLink("Watch", "Watch", new { id = item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IMDBUrl)
        </td>
    </tr>

    count = count + 1;
}


</table>

<p>Total Movies: @count</p>
