﻿@model Whittakerj_CSCI3110_Project_2.Models.Movie

@{
    ViewBag.Title = "Watch";
}

<h2>Watch</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Movie</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Title)
        @Html.HiddenFor(model => model.Year)
        @Html.HiddenFor(model => model.LengthInMinutes)
        @Html.HiddenFor(model => model.Price)
        @Html.HiddenFor(model => model.IMDBUrl)

       <p>The cost to watch @Html.DisplayFor(model => model.Title) is  @Html.DisplayFor(model => model.Price).</p>
       
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Pay" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
