﻿@model IEnumerable<Whittakerj_CSCI3110_Project_2.Models.WatchedMovie>

@{
    ViewBag.Title = "Index";
}

<br />
<br />
<table class="table">
    <tr>
        <th>
            <p>Title</p>
        </th>

        <th>
            @Html.DisplayNameFor(model => model.TimesViewed)
        </th>
        <th></th>
    </tr>

@{
    //Counters for movie count and price
    int count = 0;
    double price = 0.00;
}
@foreach (var item in Model) {
    if (item.email == ViewBag.UserName)
    {
    <tr>
        @foreach (var movie in ViewBag.Movies)
        {
            //Looking for the title of the movie using the viewbag
            if (movie.Id == item.MovieId)
            {
        <td>
            @movie.Title
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.TimesViewed)
        </td>
        <td>
            @Html.ActionLink("Manage Tags", "Tags", "Movie", new { id = movie.Id }, null) |
            @Html.ActionLink("Details", "Details", "Movie", new { id = movie.Id }, null) |
            @Html.ActionLink("Watch Again", "WatchAgain", "Movie", new { id = movie.Id }, null)
            @{
                price = price + movie.Price;
                }
        </td>
                    }
                }
    </tr>
                        count = count + 1;
                    }
                }

</table>

@*// Format the price string*@
@{string formatValue = String.Format("Total Spent: {0:C}", price); }

<p>Watched Movies: @count</p>
<p>@formatValue</p>

